.calendar-body {
	width     : 100%;
	height    : 500px;
	overflow-y: auto;
}

.calendar-days {
	position   : relative;
	display    : flex;
	flex-wrap  : wrap;
	user-select: none;
}

.calendar-day {
	position   : relative;
	width      : 14.285%;
	height     : 54px;
	font-size  : 16px;
	cursor     : pointer;
	text-align : center;
	line-height: 54px;
}

.calendar-month-title {
	height     : 44px;
	font-weight: 500;
	line-height: 44px;
	text-align : center;
}

.calendar-weekdays {
	display: flex;
}

.calendar-weekday {
	flex       : 1;
	font-size  : 12px;
	line-height: 30px;
	text-align : center;
}

.selected-day {
	height          : 54px;
	color           : #fff;
	background-color: #ee0a24;
	border-radius   : 4px;
}